@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Nanum+Gothic:wght@400;700;800&family=Spartan:wght@448&display=swap');

body {
    margin-top: 1.8em;
    margin-left: 10.5em;
    margin-right: 10.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Spartan', sans-serif;
}

h1 {
    background-image: url("../assets/img/banner.png");
    background-position: 80%;
    padding: 18px;
    border-radius: 3px;
}

a {
  text-decoration: none;
  color: #014;
  opacity: 0.75;
}
a:hover {
  opacity: 0.525;
  text-decoration: none;
}

blockquote {
  color: #014;
  opacity: .6;
  border-left: 5px solid;
  padding-bottom: 5px;
  padding-left: 1em;
  margin-left: 5px;
  line-height: 1.5em;
}

.contact {
    height: 1em;
    padding-right: 5px;
    object-position: bottom;
    font-family: 'Nanum Gothic', sans-serif;
    color: black;
}
