@charset "utf-8";
@import "./classes.scss";

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800&display=swap');

/* Overwrite Initial Variables */
// Colors
$black-bis: hsl(201, 21%, 7%);
$black-ter: hsl(201, 21%, 14%);
$grey-darker: hsl(201, 21%, 21%);
$grey-dark: hsl(201, 21%, 29%);
$grey: hsl(201, 21%, 48%);
$grey-light: hsl(201, 21%, 71%);
$grey-lighter: hsl(201, 21%, 86%);
$white-ter: hsl(201, 21%, 96%);
$white-bis: hsl(201, 21%, 98%);

$orange: #FA7921;
$yellow: #FFC857;
$green: #A8DDB5;
$cyan: #4EB3D3;
$blue: #0868AC;
$purple: #4B3F72;
$red: #B10F2E;

// Typography
$family-sans-serif: "Nunito Sans", sans-serif;
$family-secondary: "Spartan", sans-serif;
$family-monospace: "Courier Prime", monospace;

$code: hsl(0, 0%, 29%);
$code-padding: 2px;

// Misc
$gap: 128px;

/* Redirect Derived Variables */
$primary: $cyan;

// Links
$link: $grey;
$link-hover: $grey-light;

/* Change Element Styles */
// Blockquote
$content-blockquote-background-color: none;
$content-blockquote-padding: 0 1em;
$content-blockquote-border-left: 2px solid $primary;

// Button
$button-text-hover-background-color: transparent;
$button-text-decoration: none;
$button-focus-box-shadow-color: transparent;

// Input
$input-background-color: $white-ter;
$input-border-color: transparent;
$input-focus-box-shadow-color: transparent;
$input-shadow: none;

@import "~bulma/bulma.sass";

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-secondary;
}

code {
  border-radius: 2px;
}
