@import url("/hljs.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Rumiko Clear";
    src: url(/RumikoClearVariable-Regular.ttf) format("truetype-variations"),
      url(/RumikoClearVariable-Italic.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: normal, italic;
  }
  @font-face {
    font-family: "Rumiko Sans";
    src: url(/RumikoSansVariable-Regular.ttf) format("truetype-variations"),
      url(/RumikoSansVariable-Italic.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: normal, italic;
  }

  html {
    background-color: #1e2234;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply transition focus:border-primary/50 focus:shadow-slate-600/10 focus:shadow-lg placeholder:text-slate-500 placeholder:focus:!text-slate-400 focus:ring-transparent px-3 py-2.5 rounded-lg text-xl bg-slate-900/50 border-2 border-slate-700/25 backdrop-blur;
  }
}

@layer components {
  .link {
    @apply underline decoration-2 decoration-slate-500 hover:decoration-primary focus-visible:decoration-primary transition-colors;
  }

  a {
    @apply link;
  }

  article {
    @apply prose prose-lg prose-headings:scroll-m-3;
  }
}
